<!--Layout To Be Followed
- check how every things is inside section and well labelled
-check hwo classes are named
-check shifting the whole section, try cutting and pasting the
 section bascially rearranging to see if it works
-check how the height of each section is defined and find out why?!
-check the nested layout techniques
-follow this structure before making any page, steps to be followed:
    + design the rough sketch on notebook
    + design the raw wireframe, overall look, must not be exact on
      paint, figma, google draw wherever you want.
    + design this type of page frame so that the contents are store inside.
    + collect all the material required, fonts, card designs, color pallet etc
    + comment down the code and ideas , so that you can easily understand
      while you are coding
    + use proper indentation, naming conventions, and commenting
    + start filling up the content inside the frames.
    + use horizontal and vertical layout techniques inside.
    + make sure to adjust the frames height and width as required
      during filling up the frames
    + have firm grip over Flexboxes and Grids
    + use the right type of layout for the right type of content
    + clear you basics till tomorrow
    + try to self code so that the error or updates can be fixed easily.
    
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title></title>
</head>

<body>
    <div class="full-body">

        <header class="header">
            <div class="header-items">
                <div>
                    <div class="LOGO">
                        LOGO
                    </div>

                    <div class>NAV</div>
                </div>
            </div>
        </header>

        <main class="main-content">

            <!--Image-SlideShow-Section-->
            <section class="Slideshow-Section">
                <div class="Images-Slideshow">SlideShow</div>
            </section>

            <!--Shoolini Socials Description and Directors Message-->
            <section class="Welcome-Register-Section">
                <div class="shoolini-socials-intro">Shoolini Socials Register</div>
                <div class="Directors-Message">Directors Message</div>
            </section>

            <!--Events Card and Notice Board-->
            <section class="Events-Notice-Section">
                <div class="notice-board">notice Board</div>
                <div class="events-detail-cards-box">
                    <div class="events-highlights-row1">Events highlights</div>
                    <div class="find-event-row2">
                        <div class="find-event-column1">Find Event</div>
                        <div class="find-event-description-column2">Event Description</div>
                    </div>
                </div>
            </section>

            <!--Alumni Stats and Shoolini Social Media Stats-->
            <section class="Stats-Horizontal-Section">
                <div class="alumni-stats">Stats Alumni</div>
                <div class="chapters-batch-box">
                    <div class="chapters-row1">
                        <div class="be-a-mentors">Be a Mentor</div>
                        <div class="chapters-row1-col2">Chapters</div>
                    </div>

                    <div class="description-chapter-batch-box-row2-col1">Description</div>
                </div>
            </section>

            <!--Achievers Section-->
            <section class="Achievers-Section">
                <div class="achievers-detail-cards">Achievers</div>
            </section>

            <!--Mentorship and Testimonials Section-->

            <section class="Mentorship-Testimonials-Section">
                <div class="Testimonials">Testimonials</div>
                <div class="stories">Stories</div>
            </section>

            <section class="Gallary-Section">
                <div class="gallary">gallary</div>
            </section>


        </main>

        <footer class="footer">Footer</footer>