@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
}

.full-body {
    height: Auto;
}

.form-container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  p {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .form-column {
    flex: 1;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .gender-options {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .gender-options label {
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  small {
    font-size: 12px;
    color: #ff4d4d;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
    
  }
  
  .declaration {
    margin: 20px 0;
    font-size: 14px;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .submit-section {
    text-align: center;
  }
  
  button {
    background-color: #d32f2f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b71c1c;
  }