@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0px;
}

.full-body {
    height: Auto;
    font-family: "Poppins", sans-serif;
}

.Objective_Section{
    width: auto;
    height: auto;
}

.objective_Head{
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.objHeadText{
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
    color: #f02f2d;
}

.objective_Para{
    padding: 5px 10px 5px 10px;
    text-align: justify;
    line-height: 2;
}

.objParaText{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}